/*==================================================
                NXT STUDIO
                GLOBAL VARIABLES
==================================================*/

:root {

    /*======================
            COLORS
    ======================*/

    --bg-color: #000000;

    --second-bg: #0D0D0D;

    --card-bg: #111111;


    /*======================
            TEXT COLORS
    ======================*/

    --text-color: #FFFFFF;

    --text-light: #BDBDBD;


    /*======================
            ACCENT COLORS
    ======================*/

    --main-color: #00A2FF;

    --main-hover: #33B5FF;


    /*======================
            BORDERS
    ======================*/

    --border-color: rgba(0, 162, 255, 0.15);

    --border-hover: rgba(0, 162, 255, 0.35);


    /*======================
            GLOW EFFECTS
    ======================*/

    --blue-glow:
        0 0 12px rgba(0, 162, 255, 0.15),
        0 0 24px rgba(0, 162, 255, 0.08);

    --strong-blue-glow:
        0 0 12px rgba(0, 162, 255, 0.25),
        0 0 30px rgba(0, 162, 255, 0.18);

}